<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find tiago_gym)/config/tiago_train_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="tiago_gym" name="tiago_train" type="train.py" output="screen"/>
</launch>

